/*Estilos diversos*/
.marcador {
    background: rgb(143, 115, 115);
    height: 225px;
}

.fundo {
    background: rgb(118, 118, 151);
}

.caixa_section {
    /*border: 1px solid #262fae;*/
    height: 450px;
}

.caixa_ubs {
    /*border: 1px solid #262fae;*/
    border-radius: 25px;
}

.caixa_form {
    /*border: 1px solid #262fae;*/
    height: 280px;
}

.caixa_cadastro {
    /*border: 1px solid #262fae;*/
    height: 250px;
}

.autenticacao {
    background: white;
}

.filtro:hover {
    filter: grayscale(100%);
}

.agendamento {
    /*background: rgb(143, 115, 115);*/
    height: 225px;
}

/*Media queries*/
@media (min-width: 200px) {
    .tam1 {
        width: 110px;
    }

    .tam2 {
        width: 110px;
    }

    .tam3 {
        width: 110px;
    }
}

@media (min-width: 768px) {
    .tam1 {
        width: 200px;
    }

    .tam2 {
        width: 200px;
    }

    .tam3 {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .tam1 {
        width: 461px;
    }

    .tam2 {
        width: 304px;
    }

    .tam3 {
        width: 217px;
    }
}